@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Navigate the <b>"Member List"</b> to see list of Member</p>
    <p>Navigate the <b>"Member Type"</b> to see list of Membership Type</p>
</div>
